html {
    font-weight: 62.5%;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(193, 134, 134);
    }

    .header-ds {
        font-size: larger;
        font-family: sans-serif;
        text-align: center;
    }

    a:link {
        color: red;
      }
      
      /* visited link */
      a:visited {
        color: green;
      }
      
      /* mouse over link */
      a:hover {
        color: hotpink;
      }
      
      /* selected link */
      a:active {
        color: blue;
      }

}

@media only screen and (min-width: 601px) {
    body {
        background-color: rgb(237, 235, 235);
    }

    header {
        background-color: rgb(240, 220, 160);
        height: 75px;
        padding-top: 30px;
        display: flex;

    }

    header img {
        padding-left: 25px;
        border-radius: 10px;
    }

    .header-ds {
        font-size: 40px;
        font-family: sans-serif;
        /* text-align: center; */
        margin-left: 600px;
    }

    /* h1 {
        color: ;
    } */

    /* nav ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        padding: 20px;
        justify-content: right;
    }

    nav ul li {
        padding: 10px;
    } */

    a:link {
        color: red;
      }
      
      /* visited link */
      a:visited {
        color: green;
      }
      
      /* mouse over link */
      a:hover {
        color: hotpink;
      }
      
      /* selected link */
      a:active {
        color: blue;
    }


    .navigation {
        width: 300px;
        height: 100%;
        float: left;
        font-size: 25px;

    }

    .navigation ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .navigation li a {
        display: block;
        padding: 18px;
        text-decoration: none;
        background-color: #dddddd;
        color: rgb(30, 29, 29);
    }

    .ds-image {
        border: solid 3px black;
        margin-top: 50px;
        margin-left: 250px;
    }

    .fontbody {
        font-family: 'Open Sans', sans-serif;
        font-size: 48px;
    }

    .fontbody2 {
        font-family: 'Roboto', sans-serif;
        font-size: 48px;
        font-weight: 400;
    }

    .fontbody3 {
        font-family: 'Poppins', sans-serif;
        font-size: 48px;
        font-weight: 100;
    }

    .typo-fam {
        margin: 10px 325px;
    }

    .headings {
        font-size: 30px;
        margin: 0px 325px;
        font-family: 'Open Sans', sans-serif;
        /* This CSS style is taken from https://fonts.google.com/specimen/Open+Sans and it is primary font for my website. 
                                                    i will use regular font for body and bold 400 for headings.*/
    }

    .description {
        margin: 0px 325px;
    }

    /* Forms page Styling*/
    .form1 {
        width: 850px;
        height: 200px;
        margin: 0px 325px;
    }

       /* Code is refered from code pen url:https://codepen.io/gustavo_victor/pen/YzjBQNW 
                       and modified according to my needs in the website.*/

    /*reset*/
    /* * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } */

    .form-body {
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4;
        color: rgb(46, 45, 45);
        width: 100%;
        height: 100%;
    }


     #form-friend, #form-improve, label, #submit { 
        color: #f3f3f3;
    }

    input, select, textarea, button {
        border: none;
        outline: none;
        color: rgb(73, 80, 87);
    }

    /*container*/
    .container {
        max-width: 720px;
        margin: 3.125rem auto 0 auto;
    }

    .text-center {
        text-align: center;
        color: #1b1b32;
    }

    /*header*/
    .container .form-header {
        padding: 0 0.625rem;
        margin-bottom: 1.875rem;
    }

    .container .form-header #title {
        line-height: 1.2;
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    .container .foorm-header .form-description {
        font-size: 1.125rem;
        font-style: italic;
        font-weight: 200;
    }


    /*form*/
    .container #survey-form {
        border-radius: 5px;
        background-color: rgba(27, 27, 50, 0.8);
        padding: 2.5rem;
        margin-bottom: 2rem;
    }

    .container #survey-form .form-group {
        margin: 0 auto 1.25rem auto;
        padding: 0.25rem;
    }

    .container #survey-form .form-group label,
    .container #survey-form .form-group p {
        display: flex;
        align-items: center;
        font-size: 1.125rem;
        margin-bottom: 0.5rem
    }

    .container #survey-form .form-group input,
    .container #survey-form .form-group select,
    .container #survey-form .form-group textarea {
        font-size: 1rem;
        padding: 0.375rem 0.75rem;
        color: #494949;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .container #survey-form .form-group .form-control {
        display: block;
        width: 100%;
        height: 2.375rem;
    }

    .container #survey-form .form-control:focus {
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .container #survey-form .form-group .input-radio,
    .container #survey-form .form-group .input-checkbox {
        margin-right: 0.625rem;
        min-height: 1.25rem;
        min-width: 1.25rem;
    }

    .container #survey-form .form-group .input-textarea {
        width: 100%;
        font-size: 1.07rem;
        min-height: 120px;
        padding: 0.625rem;
        resize: vertical;
    }

    .container #survey-form .form-group .input-textarea:focus {
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .container #survey-form .form-group .submit-button {
        width: 100%;
        padding: 0.75rem;
        background-color:  rgb(20, 190, 70);
        color: #f3f3f3;
        border-radius: 2px;
        cursor: pointer;
        transition: background-color .15s ease;
        font-size: 1.125rem;
        font-weight: 400;
    }

    .container #survey-form .form-group .submit-button:hover {
        background-color: #358f58;
    }


    /* list Page styling*/
    .list-1{
        margin: 5px 325px;
        line-height: 25px;
        font-weight: bold;
    }
    .list-snippt{
        border: 2px solid black;
        background-color: black;
    }
    .line-numbers{
        border: 2px solid black;
    }


    .space1 {
        margin: 0px 325px;
    }

    /* Images page styling */
    .image-1{
        background-color: #454647;
        margin-left: 325px;
        border-radius: 25px 25px 25px 25px;
    }
    .image-2, .image-3{
        margin: 0px 0px 25px 325px;


    }
    /* .image-1:hover{
        border: 1px solid red;
    } */

    /* div {
        width: 550px;
        height: 550px;
    } */

    .footer1 {
        color: green;
        padding: 30px;
        display: flex;
        flex-direction: row;
        /* position: fixed; */
        left: 0px;
        bottom: 0px;
        margin-bottom: 0px;
        background-color: rgb(69, 65, 65);

    }

    footer ul {
        padding: 50px;
    }

    footer span {
        padding: 50px;
    }
}