body {
    background-color: aquamarine;
}
header {
    /*background-color: aqua;*/
    text-align: center;
}
h1{
    color: red;
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: right;
}
nav ul li{
    padding: 10px;
}
div{
    width: 400px;
    height: 600px;
}
Footer{
    color: green;
    padding: 30px;
    display: flex;
    flex-direction: row;

}
footer ul{
    padding: 50px;
}
footer span {
    padding: 50px;
}